<%- include('../partials/header') %>

<div class="container">
<div class="error-shell">
  <div class="code">!</div>
  <h1><%= title %></h1>
  <p><%= message %></p>
  <a class="btn btn-primary" href="/">Về trang chủ</a>
</div>
</div>

<%- include('../partials/footer') %>
